<footer class="page-footer backcolor">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Created By Ivensky Watermann</h5>
                <p class="grey-text text-lighten-4">The Best. Even if only temporary.</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright by Victor Czar Ivansky Inc.
        </div>
    </div>
</footer>
