<!-- NavBar -->
<div class="navbar-fixed">
    <nav class="backcolor" role="navigation">
        <div class="nav-wrapper">
            <!-- Logo -->
            <a href="Index" class="center brand-logo">Vince's Rental Shop</a>
        </div>

        <a class="back" href="Index">
            <i class="back material-icons">arrow_back</i>
        </a>
    </nav>
</div>
