@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
    <title>Vince's Rental Shop</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="~/RentStyle.css?v=1" rel="stylesheet" />
</head>
<body>
    <!-- NavBar -->
    <div class="navbar-fixed">
        <nav class="backcolor" role="navigation">
            <div class="nav-wrapper">
                <!-- Logo -->
                <a href="Index" class="center brand-logo">Vince's Rental Shop</a>
            </div>
        </nav>
    </div>

    <div class="form">
        <div>
            <h1 class="center">Vince's Rental Shop</h1>
        </div><br />
        <div class="center container">
            <h5 id="header">
                Welcome to Vince's Rental Shop where you can reserve a rental car and pick it up on a day of your choosing
                or return a vehicle.
            </h5>
        </div><br />
        <div id="home-btn" class="flex">
            <div>
                <a class="btn-large btn mcolor" href="CarRentalForm">Make a Reservation</a>
            </div>

            <div>
                <a class="btn-large btn mcolor" href="ReturnVehicleForm">Return a Vehicle</a>
            </div>
        </div><br />
    </div>

    @RenderPage("_Footer.cshtml")
</body>
</html>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="~/jscript.js?v=1" type="text/javascript"></script>
<script src="~/init.js?v=1" type="text/javascript"></script>
